body{
	font-family:sans-serif;
}
.nav{
	background-color:blue;
	padding:50px;
	width:100%;
	height:50px
	text-align:right;
	font_size:1.2em;
}
.nav h2
{
	float:left;
}
.nav li{
       padding:5px 
       padding_left:5px;
       display:inline
       color:#ffffff;
	   
}